<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Color</key>
	<dict>
		<key>header_bg</key>
		<dict>
			<key>R</key>
			<integer>255</integer>
			<key>G</key>
			<integer>255</integer>
			<key>B</key>
			<integer>255</integer>
		</dict>
		<key>body_bg</key>
		<dict>
			<key>R</key>
			<integer>242</integer>
			<key>G</key>
			<integer>242</integer>
			<key>B</key>
			<integer>242</integer>
		</dict>
		<key>header_text</key>
		<dict>
			<key>R</key>
			<integer>100</integer>
			<key>G</key>
			<integer>50</integer>
			<key>B</key>
			<integer>100</integer>
		</dict>
		<key>body_text</key>
		<dict>
			<key>R</key>
			<integer>0</integer>
			<key>G</key>
			<integer>0</integer>
			<key>B</key>
			<integer>0</integer>
		</dict>
		<key>button_bg</key>
		<dict>
			<key>R</key>
			<real>255</real>
			<key>G</key>
			<integer>255</integer>
			<key>B</key>
			<integer>255</integer>
		</dict>
		<key>button_text</key>
		<dict>
			<key>R</key>
			<integer>0</integer>
			<key>G</key>
			<integer>0</integer>
			<key>B</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Images</key>
	<dict>
		<key>header_bg_img</key>
		<dict>
			<key>iPhone</key>
			<string>NO_IMAGE</string>
			<key>iPhoneR</key>
			<string>NO_IMAGE</string>
			<key>iPad</key>
			<string>NO_IMAGE</string>
			<key>iPadR</key>
			<string>NO_IMAGE</string>
			<key>iPhone_logo</key>
			<string>ic_launcher.png</string>
			<key>iPhoneR_logo</key>
			<string>ic_launcher.png</string>
			<key>iPad_logo</key>
			<string>ic_launcher.png</string>
			<key>iPadR_logo</key>
			<string>ic_launcher.png</string>
		</dict>
		<key>body_bg_img</key>
		<dict>
			<key>iPhone4</key>
			<string>NO_IMAGE</string>
			<key>iPhone4R</key>
			<string>NO_IMAGE</string>
			<key>iPhone5</key>
			<string>NO_IMAGE</string>
			<key>iPhone6</key>
			<string>NO_IMAGE</string>
			<key>iPad</key>
			<string>NO_IMAGE</string>
			<key>iPadR</key>
			<string>NO_IMAGE</string>
		</dict>
		<key>button_bg_img</key>
		<dict>
			<key>iPhone</key>
			<string>btn.png</string>
			<key>iPhoneR</key>
			<string>btn@2x.png</string>
			<key>iPad</key>
			<string>btn_ipad.png</string>
			<key>iPadR</key>
			<string>btn_ipad@2x.png</string>
			<key>iPhone6s</key>
			<string>btn@3x.png</string>
			<key>iPhone6P</key>
			<string>btn@3x.png</string>
		</dict>
	</dict>
	<key>Font</key>
	<dict>
		<key>button_Font</key>
		<string>Lato-Regular</string>
		<key>bodyLabel_Font</key>
		<string>Lato-Regular</string>
		<key>textField_Font</key>
		<string>Lato-Regular</string>
		<key>bankLabel_Font</key>
		<string>Lato-Bold</string>
	</dict>
</dict>
</plist>
