<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651142371681-t9osclj6qr6h8r40bo14tovjt5mnu7o8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651142371681-t9osclj6qr6h8r40bo14tovjt5mnu7o8</string>
	<key>API_KEY</key>
	<string>AIzaSyAMVodle_9bjalepBi3Z1xRnmN6V_LWSTY</string>
	<key>GCM_SENDER_ID</key>
	<string>651142371681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>excell.broadband</string>
	<key>PROJECT_ID</key>
	<string>excell-customer</string>
	<key>STORAGE_BUCKET</key>
	<string>excell-customer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651142371681:ios:9bf87542a148de7e044d20</string>
	<key>DATABASE_URL</key>
	<string>https://excell-customer.firebaseio.com</string>
</dict>
</plist>